<!doctype html>
<html ng-app="contatooh" ang="pt-BR">
	<head>

		<meta name="viewport" content="width=device-width">
		<meta charset="UTF-8">
		<title>Contatooh</title>

		<!-- build:css css/index.min.css -->
		<link rel="stylesheet"
			href="vendor/bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet"
			href="vendor/bootstrap/dist/css/bootstrap-theme.css">
		<!-- endbuild -->

	</head>
	<body class="container">

		<%if (usuarioLogado.length > 0) { %>
			<div class="text-right">
				<p>
					Logado como: <span id="usuario-logado">
						<%=usuarioLogado %>
					<span>
					<a href="/logout">Logout</a>
				</p>
			</div>
		<% } %>

		<div class="jumbotron">
			<h1 class="text-center">
				Contatooh
			</h1>
		</div>

		<div ng-view></div>

		<!-- build:js js/index.min.js -->
		<script src="vendor/angular/angular.js"></script>
		<script src="vendor/angular-route/angular-route.js"></script>
		<script src="vendor/angular-resource/angular-resource.js"></script>
		<script src="js/main.js"></script>
		<script src="js/services/ContatoService.js"></script>
		<script src="js/services/InterceptorService.js"></script>
		<script src="js/controllers/ContatosController.js"></script>
		<script src="js/controllers/ContatoController.js"></script>
		<!-- endbuild -->
	</body>
</html>
